:root {
    --blue-color: #1955CC;
    --orange-color: #FD7D00;
    --black-color: #2c2c2c;
}

.mobile-header {
    display: none;
}

* {
    font-family: 'roboto';
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.86, var(--blue-color)));
}

.header {
    height: 60px;
    background-color: var(--blue-color);
    display: flex;
    align-items: center;
    padding: 0 90px;
}

.mobile-header {
    background-color: var(--blue-color);
    height: 40px;
    overflow-x: hidden;
}

.header .row {
    width: 100%;
}

.header img {
    height: 35px;
}

body {
    overflow-x: hidden;
}

.header .col-auto,
.header .col {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.header .col {
    justify-content: left;
}

.header ul {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}

.header ul li {
    list-style: none;
    color: white;
    margin: 0 10px;
    cursor: pointer;
    transition: 300ms;
}

.header .nav-item:hover,
.header .nav-item.active {
    background-color: var(--orange-color);
    padding: 35px;
    border-radius: 0px 0px 15px 15px;
}

.header ul .btn-warning {
    background-color: var(--orange-color);
    outline: none;
    border: none;
    color: white;
    background: linear-gradient(-45deg, #fdcf00, var(--orange-color), #fd4800, var(--orange-color));
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
}

.mobile-header {
    width: 100%;
}

.mobile-header .header-optmize {
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

.mobile-header img {
    height: 20px;
}

.mobile-header .menucontainer {
    position: absolute;
    background-color: #2c2c2c90;
    width: 90%;
    height: 100%;
    color: white;
    padding-top: 50px;
    padding-left: 0;
    backdrop-filter: blur(10px);
    right: 0;
    z-index: 1;
    display: none;
}

.menucontainer .close {
    position: absolute;
    left: 15px;
    top: 15px;
}

.mobile-header .menucontainer .mobilemenu-item {
    list-style: none;
    text-align: center;
    font-size: 20px;
    margin: 20px 0px;
    width: 100%;
}

.mobile-header .menucontainer .mobilemenu-item.active {
    background-color: var(--blue-color);
    padding: 10px 0;
}

.right-align .nav-item:hover {
    background-color: transparent;
    padding: 0;
    border-radius: 0px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.row{
    margin: 0;
    padding: 0;
}
.right-align {
    justify-content: right;
}

.coontent-container {
    margin-top: 40px;
}

.headding h1 {
    text-align: center;
    font-weight: 900;
    color: var(--black-color);
    opacity: 0.8;
}

.headding p {
    text-align: center;
    color: var(--black-color);
    opacity: 0.8;
    margin-top: -15px;
    text-decoration: underline;
    cursor: pointer;
    transition: 300ms;
    letter-spacing: 0;
}
.headding p:hover{
    color: var(--blue-color);
    letter-spacing: 1px;
}

.ms-dd-header{
    background-color: white;
}
.ms-dd-header a{
    white-space: nowrap;
    padding-top: 20px !important;
    padding-left: 20px !important;
    background-color: white !important;
}

.opt {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-x: none;
}
.twosides .form-floating{
    width: 50%;
}
.row.body{
    height: auto;
    margin-right: 0;
}
.form{
    padding-left: 60px;
}
.col.picture{
    padding: 0;
    margin: 0;
}
.col.picture img{
    right: 0px;
    margin-left: auto;
    display: block;
    width: 70%;
}
.dropdown {
    width: 50%;
}
.row.headding{
    margin-right: 0;
}
.title-right{
    font-size: 4.5vw;
    font-weight: 900;
    letter-spacing: -2px;
    line-height: 70px;
    margin: auto;
    display: block;
    width: 70%;
}
.title-right b{
    color: var(--orange-color);
}
.dropdown button{
    background-color: white ;
    color: var(--black-color);
    width: 100%;
    transition: 300ms;
    height: 80%;
    border: #2c2c2c30 0.5px solid;
}
.dropdown button:hover,
.dropdown button:focus{
    background-color: var(--blue-color);
}
.dropdown ul{
    max-height: 270px;
    overflow-x: auto;
    width: 95%;
}
.ms-dd{
    background-color: transparent !important;
    width: 100% !important;
    display: block !important;
}
.ms-dd .ms-options{
    width: 95% !important;
}
.ms-list-option.option-selected{
    height: 100% !important;
}
.ms-dd .ms-dd-header{
    height: 100% !important;
}
.country-menu{
    background-color: white;
    border: 1px solid #2C2C2C26;
    box-shadow: 0px 4px 4px 0px #0000000A;
    margin-top: 0px;
    max-height: 270px;
    overflow-x: auto;
    display: none;
}
.country-menu li{
    list-style: none;
}
input.form-control{
    padding: 0 30px;
    color: #2c2c2c;
}
.twosides{
    display: flex;
    flex-wrap: nowrap;
}
.form-floating label{
    padding-left: 30px;
    color: #2c2c2c80;
}
@media screen and (max-width: 1150px) {
    .row.mb-3.country{
        width: 50% !important;
        padding-right: 0;
    }
    .header {
        display: none;
    }
    .mobile-header {
        display: flex;
    }
    .col.picture{
        display: none;
    }
    .form{
        padding: 0 20px;
    }
    .row.mb-3.country{
        margin-right: 0;
        padding-right: 0;
    }
}

@media screen and (max-width: 500px) {
    .coontent-container {
        margin-top: 20px;
    }
    .headding h1 {
        font-size: 30px;
        padding: 0 60px;
    }
    .headding p {
        font-size: 13px;
    }
    .form div{
        font-size: 12px;
    }
    .form div.row{
        margin-bottom: 0px;
    }
    .form-floating{
        margin-bottom: 10px !important;
        height: 45px;
    }
    .form-floating .form-control{
        height: 40px;
        font-size: 13px;
        padding: 1.5rem 0.75rem;

    }  .form-floating label{
        margin-top: -12px;
        margin-left: -10px;
        padding: 1.3rem 1.75rem;
    }
    .ms-dd-header a{
        white-space: nowrap;
        padding-top: 15px !important;
        padding-left: 10px !important;
    }
    
}