a {
    text-decoration: none;
}

h1 {
    background-color: transparent;
    letter-spacing: 0;
}

.header a {
    color: white;
}

.counter-container a {
    color: #2c2c2c;
}

.counter-comp a:hover {
    color: #2c2c2c !important;
}

.header .col-auto,
.header .col {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.header .col {
    justify-content: left;
}

.header ul {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}

.header ul li {
    list-style: none;
    color: white;
    margin: 0 10px;
    cursor: pointer;
    transition: 300ms;
}

.header .nav-item:hover,
.header .nav-item.active {
    background-color: var(--orange-color);
    padding: 35px;
    border-radius: 0px 0px 15px 15px;
}

.btn-fixed-mobile {
    display: none;
}

.btn-warning {
    background-color: var(--orange-color);
    outline: none;
    border: none;
    color: white;
    background: linear-gradient( -45deg, #fdcf00, var(--orange-color), #fd4800, var(--orange-color));
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
}

.video700 {
    display: none;
}

.mobile-header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
}

.mobile-header .header-optmize {
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

.mobile-header img {
    height: 20px;
}

.menucontainer {
    position: fixed;
    background-color: #2c2c2c90;
    width: 90%;
    height: 100%;
    color: white;
    padding-top: 50px;
    padding-left: 0;
    backdrop-filter: blur(10px);
    right: 0;
    z-index: 200;
    display: none;
}

.menucontainer .close {
    position: absolute;
    left: 15px;
    top: 15px;
}

.menucontainer .mobilemenu-item {
    list-style: none;
    text-align: center;
    font-size: 20px;
    margin: 20px 0px;
    width: 100%;
}

.menucontainer .mobilemenu-item.active {
    background-color: var(--blue-color);
    padding: 10px 0;
}

.counter-container .col {
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
}

.right-align .nav-item:hover {
    background-color: transparent;
    padding: 0;
    border-radius: 0px;
}

.video-mobile-container {
    background-image: url("/img/video-mobile.svg");
    width: 95%;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 245px;
    display: flex;
    align-items: center;
    position: relative;
    margin: auto;
    margin-top: 70px;
}

.video-mobile-container div {
    border-radius: 10px;
    overflow: hidden;
    width: 90%;
    margin: auto;
    display: block;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.sticky-social {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: -0px;
    padding: 0px;
    margin: 0px;
    z-index: 200;
}

.social {
    list-style: none;
}

.whitesmoke-cont {
    background-color: transparent;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
}

.social li {
    padding: 8px 8px;
    font-size: 15px;
    transition: all 0.3s ease-in-out;
}

.social li:hover {
    margin-left: -30px;
    box-shadow: 2px 5px 10px grey;
}

.social li:hover .fa {
    margin-left: 20px;
}

.fa {
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.fb {
    background-color: #3C5A98;
}

.twitter {
    background-color: #1EA1F2;
}

.insta {
    background-color: #DC4F42;
}

.pin {
    background-color: #CB2128;
}

.tiktok {
    background-color: black;
}


/* section01 styling */


/* --------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------- */

.section-01 {
    width: 100%;
    position: relative;
    color: white;
    padding-bottom: 20px;
}

.headding-sec01 h1 {
    background-color: transparent !important;
    letter-spacing: normal;
    font-size: 40px;
    margin: 0;
    padding: 0;
}

.headding-sec01 h4 {
    margin: 20px 0;
}

.headding-sec01 h4:nth-child(2) {
    margin-top: 30px;
}

#video-img {
    width: 500px;
    height: auto;
    animation: pulse 5s infinite ease-in-out alternate;
}

.header {
    position: sticky;
    top: 0px;
    z-index: 100;
}

.container-fluid {
    padding: 0 !important;
    padding-bottom: 30px !important;
}

.changing-background {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    left: 0;
    top: 0;
}

.section-01 .backgroundchange {
    background: url(/img/BG2.jpg);
    position: absolute;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    animation: BG-animation 13s ease-in-out infinite;
}

.section-01 .overlaybg {
    background: url(/img/overlaybg-09.png);
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    left: 0;
    height: 100%;
    backdrop-filter: blur(3px);
    mix-blend-mode: multiply;
}

.section-01 .background {
    position: absolute;
    left: 0%;
    background: url(/img/BG1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.How-it-works-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 1vw;
    border-radius: 2vw;
    text-align: center;
    font-size: 1vw;
    color: #1955cd;
    width: 1vw;
    height: 1vw;
    z-index: 1;
}

.video-mobile-container .play-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 50px;
    height: 50px;
}

.over-lay {
    width: 100%;
    height: 100%;
    background-color: #2c2c2c30;
    position: absolute;
}

.btn-primary {
    background-color: #1955cd !important;
    border-radius: 20px;
    padding: 0px 20px;
    height: 40px;
}

.play-btn {
    font-size: 40px;
    color: white;
    cursor: pointer;
    transition: 300ms;
}

.play-btn:hover {
    color: #1955cd;
}

.video-background {
    background-image: url(/img/video-BG-1.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    height: 450px;
    width: 500px;
    position: relative;
    display: block;
    margin: auto;
}

#video-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    transform: translateY(50%);
    transform: scale(1.5);
    opacity: 0.8;
    cursor: pointer;
    transition: 300ms;
}

#video-btn:hover {
    transform: scale(2);
    opacity: 1;
}

.section-01 .btns-container {
    display: flex;
    height: auto;
    align-items: center;
    justify-content: right;
    padding-right: 50px;
    padding-top: 20px;
}

.section-01 .btns-container button {
    margin-right: 20px;
}

.header-one {
    padding: 5% 90px;
}

.counter-comp {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.counter-container {
    margin-top: 40px;
}

.carousel-control-next-icon {
    background-color: 2c2c2c;
}

.counter-comp .body {
    font-size: 40px;
    font-weight: bolder;
}

.owl-carousel.owl-loaded.ournumbers {
    display: none;
}

.video-mobile-container {
    display: none;
}

.titles-header {
    display: none;
}


/* Section 02 styling */


/* --------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------- */

.title-C {
    margin-top: 40px;
    font-weight: 800;
    color: transparent;
    font-size: 120px;
    background: url("/img/florian-olivo-JNz9bQD3Oio-unsplash.jpg") repeat;
    background-position: 40% 50%;
    background-size: cover;
    -webkit-background-clip: text;
    position: relative;
    text-align: center;
    line-height: 90px;
    letter-spacing: -8px;
    height: 220px;
    padding-top: 5px;
}

.section-02 .comuinty-h3 {
    margin-top: -10px;
    padding: 0 30px;
    text-align: center;
}


/* Animations */


/* --------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------- */

@keyframes BG-animation {
    0% {
        width: 100%;
        height: 100%;
    }
    10% {
        width: 0%;
        height: 100%;
    }
    60% {
        width: 0%;
        height: 100%;
    }
    70% {
        width: 100%;
        height: 100%;
    }
    100% {
        width: 100%;
        height: 100%;
    }
}

@keyframes pulse {
    from {
        transform: scale(0.9);
    }
    to {
        transform: scale(1.05);
    }
}

.counter-comp a {
    color: #2c2c2c;
}


/* media queries */


/* -------------___------------------_____---------------________ */


/* -------------___------------------_____---------------________ */


/* -------------___------------------_____---------------________ */

@media screen and (max-width: 1200px) {
    .btn-fixed-mobile {
        display: block;
        position: fixed;
        z-index: 300;
        width: 93%;
        left: 50%;
        transform: translateX(-50%);
        bottom: 10px;
        height: 50px;
        font-size: 20px;
        font-weight: bolder;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 10px;
    }
    .headding-sec01 h1 b {
        background-color: #fd7d00;
        color: white;
        padding: 0 5px;
    }
    .video-container {
        display: none;
    }
    .changing-background {
        display: none;
    }
    .section-01 {
        color: #2c2c2c;
    }
    /* .container-fluid .row {} */
    .btns-container .play-btn {
        color: #fd7d00;
    }
    .counter-comp {
        color: #2c2c2c;
        border-radius: 9px;
        height: 155px;
        width: 155px;
        border: 2px dashed rgba(44, 44, 44, 0.15);
        margin-bottom: 20px;
        padding: 20px 0;
    }
    .carousel-item .counter-comp {
        margin: auto;
    }
    .counter-comp a {
        color: #2c2c2c;
    }
    .carousel-control-next-icon {
        background-image: url("/img/download.svg") !important;
    }
    .carousel-control-prev-icon {
        transform: rotate(180deg);
        background-image: url("/img/download.svg") !important;
    }
    .video-mobile-container {
        margin-top: 10px;
    }
}

@media screen and (max-width: 770px) {
    .title-C {
        margin-top: 10px;
        font-weight: 800;
        color: transparent;
        font-size: 80px;
        background: url("/img/florian-olivo-JNz9bQD3Oio-unsplash.jpg") repeat;
        background-position: 40% 50%;
        background-size: cover;
        -webkit-background-clip: text;
        position: relative;
        text-align: center;
        line-height: 90px;
        letter-spacing: -3px;
        height: 220px;
        padding-top: 5px;
    }
    .section-02 .comuinty-h3 {
        margin-top: -10px;
        padding: 0 30px;
        text-align: center;
    }
    .video700 {
        display: none;
    }
    .video-mobile-container {
        display: block;
        width: 300px;
        margin-top: 10px;
    }
    .header-one {
        padding: 5% 25px;
    }
}

@media screen and (max-width: 580px) {
    .whitesmoke-cont {
        background-color: whitesmoke;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 30px;
    }
    .section-02 .comuinty-h3 {
        margin-top: -10px;
        padding: 0 30px;
        text-align: center;
        font-size: 18px;
    }
    .title-C {
        margin-top: 10px;
        font-weight: 800;
        color: transparent;
        font-size: 60px;
        background: url("/img/florian-olivo-JNz9bQD3Oio-unsplash.jpg") repeat;
        background-position: 40% 50%;
        background-size: cover;
        -webkit-background-clip: text;
        position: relative;
        text-align: center;
        line-height: 50px;
        letter-spacing: -3px;
        height: 150px;
        padding-top: 5px;
    }
    .social li {
        font-size: 13px;
        padding: 5px 5px;
    }
    .titles-header {
        display: block;
        color: #2c2c2c;
        text-align: center;
        text-transform: uppercase;
        font-size: 26px;
        letter-spacing: 1px;
        position: relative;
    }
    .titles-header:after {
        content: '';
        width: 20%;
        height: 1px;
        background-color: #fd7d00;
        position: absolute;
        right: 0;
        top: 50%;
    }
    .titles-header:before {
        content: '';
        width: 20%;
        height: 1px;
        background-color: #fd7d00;
        position: absolute;
        left: 0;
        top: 50%;
    }
    .headding-sec01 {
        margin-top: 30px;
    }
    .counter-container {
        display: none;
    }
    .owl-carousel.owl-loaded.ournumbers {
        display: flex;
        justify-content: center;
        background-color: whitesmoke;
    }
    .owl-carousel.owl-loaded.ournumbers .item {
        justify-content: center;
        margin: auto;
        text-align: center;
        width: 150px;
    }
    .counter-comp {
        margin: 15px 0;
        background-color: white;
    }
}

@media screen and (max-width: 450px) {
    .container-fluid .row {
        padding: 0 15px;
    }
    .section-01 .btns-container {
        padding-right: 0;
        justify-content: center;
        padding-top: 0px;
    }
    .headding-sec01 h1 {
        font-size: 25px;
    }
    .headding-sec01 h4 {
        font-size: 15px;
    }
    .play-btn {
        display: none;
    }
}